<IfModule mod_ssl.c>
<VirtualHost *:443>
  ServerName megicart.site
  ServerAlias www.megicart.site
  Protocols h2 http/1.1
  DocumentRoot /var/www/
  Options Indexes FollowSymLinks

  <Directory "/var/www/">
    AllowOverride All
    <IfVersion < 2.4>
      Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
      Require all granted
    </IfVersion>
  </Directory>

  ErrorLog /var/log/apache2/error.log
  CustomLog /var/log/apache2/access.log combined

  Include /etc/letsencrypt/options-ssl-apache.conf
  SSLCertificateFile /etc/letsencrypt/live/megicart.site/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/megicart.site/privkey.pem
</VirtualHost>

<VirtualHost *:443>
  ServerAlias *.megicart.site
  Protocols h2 http/1.1
  DocumentRoot /var/www/
  Options Indexes FollowSymLinks

  <Directory "/var/www/">
    AllowOverride All
    <IfVersion < 2.4>
      Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
      Require all granted
    </IfVersion>
  </Directory>

  ErrorLog /var/log/apache2/error.log
  CustomLog /var/log/apache2/access.log combined

  Include /etc/letsencrypt/options-ssl-apache.conf
  SSLCertificateFile /etc/letsencrypt/live/megicart.site-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/megicart.site-0001/privkey.pem

  # Regola di Redirect con Esclusioni
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^([^.]+)\.megicart\.site$ [NC]
  RewriteCond %{REQUEST_URI} !^/wp-admin [NC]
  RewriteCond %{REQUEST_URI} !^/wp-includes [NC]
  RewriteCond %{REQUEST_URI} !^/wp-content [NC]
  RewriteCond %{REQUEST_URI} !\?fl_builder&fl_builder_ui [NC]
  RewriteCond %{REQUEST_URI} !^/graphql [NC]
  RewriteCond %{REQUEST_URI} !^/wp-login\.php [NC]
  RewriteRule ^/(.*)$ https://%1.megicart.it/$1 [R=301,L]
</VirtualHost>
</IfModule>

