<IfModule mod_ssl.c>
<VirtualHost *:443>
  ServerName megicart.site
  ServerAlias *.megicart.site
  Protocols h2 http/1.1
  DocumentRoot /var/www/
  Options Indexes FollowSymLinks

  <Directory "/var/www/">
    AllowOverride All
    <IfVersion < 2.4>
      Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
      Require all granted
    </IfVersion>
  </Directory>

  ErrorLog /var/log/apache2/error.log
  CustomLog /var/log/apache2/access.log combined

  Include /etc/letsencrypt/options-ssl-apache.conf
  SSLCertificateFile /etc/letsencrypt/live/megicart.site-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/megicart.site-0001/privkey.pem
  
  # Abilita il motore di riscrittura
  RewriteEngine On

  # Verifica che l'host corrisponda al sottodominio .megicart.site
  RewriteCond %{HTTP_HOST} ^([^.]+)\.megicart\.site$ [NC]

  # Escludi percorsi specifici (con o senza contenuti aggiuntivi)
  RewriteCond %{REQUEST_URI} !^/megi-login(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/wp-admin(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/wp-includes(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/wp-content(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/graphql(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/wp-login\.php(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/index\.php(/|$) [NC]
  RewriteCond %{REQUEST_URI} !^/wp-json(/|$) [NC] # Endpoint API di WordPress
  RewriteCond %{REQUEST_URI} !^/wc-api(/|$) [NC]  # Endpoint API di WooCommerce
  RewriteCond %{QUERY_STRING} !^(.*)fl_builder&fl_builder_ui(&|$) [NC]

  # Esegui il redirect per tutto ciò che non rientra nelle esclusioni
  RewriteRule ^/(.*)$ https://%1.megicart.it/$1 [R=301,L]

</VirtualHost>
</IfModule>

